<div class="container-narrow">

  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Projects", projects_path %></li>
    </ul>
    <h3 class="muted"><%= link_to 'seanfreiburg.com', root_path %></h3>
  </div>

  <hr>
