<div class="row">
  <div class="span4 offset4">

    <h2>Your Player</h2>

    <h3>Player Id</h3>
    <%= @player.id %>
    <h3>Player Name</h3>
    <%= @player.name %>
    <h3>Player Key</h3>
    <%= @player.key %>

  </div>
</div>