.handcard{
	margin-left: 30px;
	margin-bottom: 0px;
}

.card_back{
	width:71px;
	height:96px;
	background:url(cardback.png) 0px 0px ;

}

._AC{
	width:71px;
	height:96px;
	background:url(playingcards.png) -1px -1px ;
}

._AS{
	width:71px;
	height:96px;
	background:url(tuxace.png) 0px 0px ;
}

._AH{
	width:71px;
	height:96px;
	background:url(playingcards.png) -1px -197px ;
}

._AD{
	width:71px;
	height:96px;
	background:url(playingcards.png) -1px -295px ;
}

._2C{
	width:71px;
	height:96px;
	background:url(playingcards.png) -74px -1px ;
}

._2S{
	width:71px;
	height:96px;
	background:url(playingcards.png) -74px -99px ;
}

._2H{
	width:71px;
	height:96px;
	background:url(playingcards.png) -74px -197px ;
}

._2D{
	width:71px;
	height:96px;
	background:url(playingcards.png) -74px -295px ;
}

._3C{
	width:71px;
	height:96px;
	background:url(playingcards.png) -147px -1px ;
}

._3S{
	width:71px;
	height:96px;
	background:url(playingcards.png) -147px -99px ;
}

._3H{
	width:71px;
	height:96px;
	background:url(playingcards.png) -147px -197px ;
}

._3D{
	width:71px;
	height:96px;
	background:url(playingcards.png) -147px -295px ;
}

._4C{
	width:71px;
	height:96px;
	background:url(playingcards.png) -220px -1px ;
}

._4S{
	width:71px;
	height:96px;
	background:url(playingcards.png) -220px -99px ;
}

._4H{
	width:71px;
	height:96px;
	background:url(playingcards.png) -220px -197px ;
}

._4D{
	width:71px;
	height:96px;
	background:url(playingcards.png) -220px -295px ;
}

._5C{
	width:71px;
	height:96px;
	background:url(playingcards.png) -293px -1px ;
}

._5S{
	width:71px;
	height:96px;
	background:url(playingcards.png) -293px -99px ;
}

._5H{
	width:71px;
	height:96px;
	background:url(playingcards.png) -293px -197px ;
}

._5D{
	width:71px;
	height:96px;
	background:url(playingcards.png) -293px -295px ;
}

._6C{
	width:71px;
	height:96px;
	background:url(playingcards.png) -366px -1px ;
}

._6S{
	width:71px;
	height:96px;
	background:url(playingcards.png) -366px -99px ;
}

._6H{
	width:71px;
	height:96px;
	background:url(playingcards.png) -366px -197px ;
}

._6D{
	width:71px;
	height:96px;
	background:url(playingcards.png) -366px -295px ;
}

._7C{
	width:71px;
	height:96px;
	background:url(playingcards.png) -439px -1px ;
}

._7S{
	width:71px;
	height:96px;
	background:url(playingcards.png) -439px -99px ;
}

._7H{
	width:71px;
	height:96px;
	background:url(playingcards.png) -439px -197px ;
}

._7D{
	width:71px;
	height:96px;
	background:url(playingcards.png) -439px -295px ;
}

._8C{
	width:71px;
	height:96px;
	background:url(playingcards.png) -512px -1px ;
}

._8S{
	width:71px;
	height:96px;
	background:url(playingcards.png) -512px -99px ;
}

._8H{
	width:71px;
	height:96px;
	background:url(playingcards.png) -512px -197px ;
}

._8D{
	width:71px;
	height:96px;
	background:url(playingcards.png) -512px -295px ;
}

._9C{
	width:71px;
	height:96px;
	background:url(playingcards.png) -585px -1px ;
}

._9S{
	width:71px;
	height:96px;
	background:url(playingcards.png) -585px -99px ;
}

._9H{
	width:71px;
	height:96px;
	background:url(playingcards.png) -585px -197px ;
}

._9D{
	width:71px;
	height:96px;
	background:url(playingcards.png) -585px -295px ;
}

._TC{
	width:71px;
	height:96px;
	background:url(playingcards.png) -658px -1px ;
}

._TS{
	width:71px;
	height:96px;
	background:url(playingcards.png) -658px -99px ;
}

._TH{
	width:71px;
	height:96px;
	background:url(playingcards.png) -658px -197px ;
}

._TD{
	width:71px;
	height:96px;
	background:url(playingcards.png) -658px -295px ;
}

._JC{
	width:71px;
	height:96px;
	background:url(playingcards.png) -731px -1px ;
}

._JS{
	width:71px;
	height:96px;
	background:url(playingcards.png) -731px -99px ;
}

._JH{
	width:71px;
	height:96px;
	background:url(playingcards.png) -731px -197px ;
}

._JD{
	width:71px;
	height:96px;
	background:url(playingcards.png) -731px -295px ;
}

._QC{
	width:71px;
	height:96px;
	background:url(playingcards.png) -804px -1px ;
}

._QS{
	width:71px;
	height:96px;
	background:url(playingcards.png) -804px -99px ;
}

._QH{
	width:71px;
	height:96px;
	background:url(playingcards.png) -804px -197px ;
}

._QD{
	width:71px;
	height:96px;
	background:url(playingcards.png) -804px -295px ;
}

._KC{
	width:71px;
	height:96px;
	background:url(playingcards.png) -877px -1px ;
}

._KS{
	width:71px;
	height:96px;
	background:url(playingcards.png) -877px -99px ;
}

._KH{
	width:71px;
	height:96px;
	background:url(playingcards.png) -877px -197px ;
}

._KD{
	width:71px;
	height:96px;
	background:url(playingcards.png) -877px -295px ;
}
