<div class="row">
  <div class="span12">
    <h2> Documentation</h2>

    <h3> To get an API key </h3>

    <p>Send a get request to: http://0.0.0.0:3000/get_key?name=[name] where [name] is the name of your player</p>

    <p>It will return in a format like: </p>

    <code>{"name":"sadas342","key":"2ef402a649b0ddd45cabff1a71d4a7ba"}</code>

    <p>If a name is already taken it will return</p>

    <code>{"error":"Name already taken"}</code>

    <h3> To get your player status</h3>

    <p>Send a GET request to <code>http://0.0.0.0:3000/get_status?key=[key]</code> where [key] is your API key.</p>

    <code>INSERT SAMPLE RESPONSES</code>

    <h3>To send a move</h3>

    <p>Send a GET request to <code>http://0.0.0.0:3000/send_move?key=[key]&move=[move]&amount=[amount]</code> where [key] is your API
      key, [move] is the action you want to take (call,bet,fold), and [amount] is the amount you want to raise if you
      are betting

    </p>
    <code>INSERT SAMPLE RESPONSES</code>

  </div>
</div>

