<div class="row">
  <div class="span12">
    <h2> Documentation</h2>
        <h3> To get an API key </h3>
        <p>Send a get request to: http://0.0.0.0:3000/get_key/[name] where [name] is the name of your player</p>
        <p>It will return in a format like: </p>
        <p>{"id":11,"name":"asdsad2d2","key":"f8c8f0f18e01accb4c71f975858b1c17","created_at":"2013-11-07T21:03:21.674Z","updated_at":"2013-11-07T21:03:21.674Z"}</p>

        <h3> To get your player status</h3>
        <p>Send a GET request to http://0.0.0.0:3000/get_status/[key] where key is your API key.</p>
        <h3>To send a move</h3>
        <p></p>
  </div>
</div>

