<div class="jumbotron">
  <div class="row">
    <div class="span6">
      <h1>I am Sean Freiburg</h1>

      <p class="lead">Computer Science major at University of Illinois Urbana Champaign. I love creating new and cool
        applications. </p>
      <%= link_to 'My Github', 'https://github.com/seanfreiburg', :class => "btn btn-large btn-success" %>
    </div>
    <div class="span6">
      <%= image_tag("sean.jpg", :size => "300x300", :class => "img-polaroid") %>
    </div>
  </div>
</div>

<hr>




