<br/>
<br/>
<footer>
  <div class="container">

      <p class="text-center">Built by <%= link_to 'Sean Freiburg', 'http://www.seanfreiburg.com' %> and Brian Hauger</p>
    <p><%= link_to 'Sign In', new_admin_session_path %></p>
  </div>
</footer>